@page
@model ShopzyWeb.Pages.Products.DetailsModel

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="@Model.Product.ImageUrl"
                 class="img-fluid rounded shadow" />
        </div>

        <div class="col-md-7">
            <h2>@Model.Product.Title</h2>
            <p class="text-muted">@Model.Product.Category.Name</p>

            <h4 class="text-success">₹ @Model.Product.Price</h4>

            <p>@Model.Product.Description</p>

            <!-- ADD TO CART BUTTON -->
            <form method="post" asp-page="/Cart/Index" asp-route-id="@Model.Product.Id">
                <button class="btn btn-primary mt-3">
                    Add to Cart
                </button>
            </form>

            <a asp-page="/Index" class="btn btn-secondary mt-3 ms-2">
                Back
            </a>
        </div>
    </div>
</div>
